<div class="container">
  <div *ngIf="jogo.tela == 'home'" align="center">
    <h2>Game of Thrones<br>Game</h2>
    <form #cadastro="ngForm" (submit)="salvar(cadastro)">
      <div class="form-group">
        <label for="nome">Nome</label><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
        <small class="form-text text-muted">Digite seu nome !</small>
      </div>
    </form>
    <button type="submit" class="btn btn-dark" [disabled]="!cadastro.form.valid" (click)="jogo.irPara('jogar')">Vamos jogar ?</button>
  </div>
  <div *ngIf="jogo.tela == 'jogar'">
    <form #jogada="ngForm" (submit)="jogar(jogada)">
      <label><h2>Escolha uma casa !</h2></label><br>
      <div class="form-check form-check-inline" *ngFor="let casa1 of jogo.listaCasas()">
        <input class="form-check-input" type="radio" name="casa" value="{{ casa1 }}" [(ngModel)]="casa" required>
        <label class="form-check-label">{{ casa1 }}</label>
      </div>
      <label><h2>Escolha um personagem !</h2></label><br>
      <div class="form-check form-check-inline" *ngFor="let personagem of jogo.listaPersonagens()">
        <input class="form-check-input" type="radio" name="personagem" value="{{ personagem.nome }}" [(ngModel)]="personagem" required>
        <label class="form-check-label">{{ personagem.nome }}</label>
      </div>
      <div *ngIf="jogadas < 3">
        <button type="submit" class="btn btn-dark" [disabled]="!jogada.form.valid">Proxíma jogada</button>
      </div>
      <div *ngIf="jogadas == 3">
        <button type="submit" class="btn btn-dark" [disabled]="!jogada.form.valid" (click)="jogo.irPara('resultado')">Ver resultado !</button>
      </div>
    </form>
  </div>
  <div *ngIf="jogo.tela == 'resultado'">
    <h2>Resultado !</h2>
    <div>jogador: {{ resultado().nome }}</div>
    <div>Acertos: {{ resultado().acertos }}</div>
    <div>Erros: {{ resultado().erros }}</div>
    <button class="btn btn-dark" (click)="jogo.irPara('home')">Vamos jogar novamente ?</button>
  </div>
</div>
